@charset "UTF-8";
/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
	font
----------------------------------------*/
/*----------------------------------------
	fontFamily
----------------------------------------*/
/*----------------------------------------
	mediaquery
----------------------------------------*/
/*----------------------------------------
	fontFamily
----------------------------------------*/
/*----------------------------------------
	cssHack
----------------------------------------*/
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*----------------------------------------
	color
----------------------------------------*/
/*----------------------------------------
	keyframes
----------------------------------------*/
@keyframes floating {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
@keyframes key-public-rockimpact {
  0% {
    opacity: 0;
    transform: scale(2) rotate(-4deg);
  }
  70% {
    opacity: 1;
    transform: scale(0.97) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*----------------------------------------
	共通部分
----------------------------------------*/
html {
  font-size: 10px;
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 0.5208333333vw;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 2.3255813953vw;
  }
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  color: #000;
}

main {
  display: block;
}

a {
  color: #000;
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

button {
  color: #000;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	l-container
----------------------------------------*/
.l-main {
  position: relative;
  display: block;
  overflow: hidden;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	l-footer
----------------------------------------*/
.l-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.6rem;
  background: url(../img/bg-footer01.webp) center/cover;
  padding: 2.4rem;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .l-footer {
    flex-direction: column;
    gap: 2.4rem;
    background: url(../img/bg-footer01_sp.webp) center/cover;
    padding: 4rem 2.4rem 10rem;
  }
}
.l-footer__logo {
  width: 72rem;
}
@media screen and (max-width: 767px) {
  .l-footer__logo {
    width: 32rem;
  }
}
.l-footer__qr {
  width: 24rem;
}
@media screen and (max-width: 767px) {
  .l-footer__qr {
    width: 20rem;
  }
}

/*----------------------------------------
	@use
----------------------------------------*/
/*----------------------------------------
	l-header
----------------------------------------*/
.l-header {
  background: url(../img/bg-mv01.webp) center/cover;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .l-header {
    background: url(../img/bg-mv01_sp.webp) center/cover;
  }
}
.l-header.is-active .l-header__head {
  scale: 1;
  opacity: 1;
}
.l-header.is-active .l-header__main figure {
  scale: 1;
  opacity: 1;
}
.l-header.is-active .l-header__main p {
  scale: 1;
  opacity: 1;
}
.l-header.is-active .l-header__foot li:nth-child(1) h2 {
  scale: 1;
  opacity: 1;
}
.l-header.is-active .l-header__foot li:nth-child(1) figure {
  scale: 1;
  opacity: 1;
  rotate: 0deg;
}
.l-header.is-active .l-header__foot li:nth-child(1) p {
  scale: 1;
  opacity: 1;
}
.l-header.is-active .l-header__foot li:nth-child(2) h2 {
  scale: 1;
  opacity: 1;
}
.l-header.is-active .l-header__foot li:nth-child(2) figure {
  scale: 1;
  opacity: 1;
  rotate: 0deg;
}
.l-header.is-active .l-header__foot li:nth-child(2) p {
  scale: 1;
  opacity: 1;
}
.l-header__container {
  position: relative;
  max-width: 192rem;
  padding: 8.8rem 0 0;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .l-header__container {
    height: 56rem;
    padding: 4.8rem 2.4rem 0;
  }
}
.l-header__head {
  width: 110rem;
  margin: auto;
  opacity: 0;
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.3, 1.4);
}
@media screen and (max-width: 767px) {
  .l-header__head {
    width: 100%;
    margin: 0 0 1.6rem;
  }
}
.l-header__main figure {
  width: 130rem;
  margin: auto;
  opacity: 0;
  scale: 1.2;
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.3, 1.4);
  transition-delay: 0.2s;
}
@media screen and (max-width: 767px) {
  .l-header__main figure {
    width: 100%;
  }
}
.l-header__main p {
  position: absolute;
  top: 67rem;
  left: 50.4%;
  width: 52rem;
  translate: -50% 0;
  opacity: 0;
  scale: 0.5;
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.3, 1.4);
  transition-delay: 0.4s;
}
@media screen and (max-width: 767px) {
  .l-header__main p {
    top: 25rem;
    left: 54%;
    width: 5.4rem;
  }
}
.l-header__foot li {
  position: absolute;
}
.l-header__foot li:nth-child(1) {
  left: 5rem;
  bottom: 5rem;
}
@media screen and (max-width: 767px) {
  .l-header__foot li:nth-child(1) {
    left: 1rem;
    bottom: 1rem;
  }
}
.l-header__foot li:nth-child(1) h2 {
  background: #0071bc;
  margin: 0 0 -10rem;
  rotate: -10deg;
}
@media screen and (max-width: 767px) {
  .l-header__foot li:nth-child(1) h2 {
    margin: 0 0 -3.2rem;
  }
}
.l-header__foot li:nth-child(1) figure {
  width: 50.4rem;
  margin: 0 0 -10rem 2rem;
  rotate: 180deg;
}
@media screen and (max-width: 767px) {
  .l-header__foot li:nth-child(1) figure {
    width: 20rem;
    margin: 0 0 -4rem;
  }
}
.l-header__foot li:nth-child(1) figure img {
  animation: floating 2s ease-in-out infinite alternate-reverse;
}
.l-header__foot li:nth-child(1) p {
  width: 31.8rem;
  margin: 0 0 0 27rem;
}
@media screen and (max-width: 767px) {
  .l-header__foot li:nth-child(1) p {
    width: 16rem;
    margin: 0 0 0 1.6rem;
  }
}
.l-header__foot li:nth-child(2) {
  right: 5rem;
  bottom: 5rem;
}
@media screen and (max-width: 767px) {
  .l-header__foot li:nth-child(2) {
    right: 1rem;
    bottom: 1rem;
  }
}
.l-header__foot li:nth-child(2) h2 {
  background: #e50053;
  margin: 0 0 -10rem auto;
  rotate: 10deg;
}
@media screen and (max-width: 767px) {
  .l-header__foot li:nth-child(2) h2 {
    margin: 0 0 -2.8rem auto;
  }
}
.l-header__foot li:nth-child(2) figure {
  width: 38.6rem;
  margin: 0 6rem -10rem 0;
  rotate: -180deg;
}
@media screen and (max-width: 767px) {
  .l-header__foot li:nth-child(2) figure {
    width: 15rem;
    margin: 0 1.6rem -3.2rem 0;
  }
}
.l-header__foot li:nth-child(2) figure img {
  animation: floating 2s -1s ease-in-out infinite alternate-reverse;
}
.l-header__foot li:nth-child(2) p {
  width: 28.3rem;
  margin: 0 0 0 -22rem;
}
@media screen and (max-width: 767px) {
  .l-header__foot li:nth-child(2) p {
    width: 15rem;
    margin: 0 0 0 1.6rem;
  }
}
.l-header__foot li h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 34.8rem;
  height: 34.8rem;
  border-radius: 50%;
  opacity: 0;
  scale: 0.2;
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.3, 1.4);
  transition-delay: 0.8s;
}
@media screen and (max-width: 767px) {
  .l-header__foot li h2 {
    width: 12rem;
    height: 12rem;
  }
}
.l-header__foot li h2 span {
  font-weight: bold;
  color: #fff;
}
.l-header__foot li h2 span:nth-child(1) {
  font-size: 4rem;
}
@media screen and (max-width: 767px) {
  .l-header__foot li h2 span:nth-child(1) {
    font-size: 1.2rem;
  }
}
.l-header__foot li h2 span:nth-child(2) {
  font-size: 2.4rem;
}
@media screen and (max-width: 767px) {
  .l-header__foot li h2 span:nth-child(2) {
    font-size: 1rem;
  }
}
.l-header__foot li h2 span:nth-child(3) {
  font-size: 5rem;
}
@media screen and (max-width: 767px) {
  .l-header__foot li h2 span:nth-child(3) {
    font-size: 1.6rem;
  }
}
.l-header__foot li figure {
  position: relative;
  opacity: 0;
  scale: 0.2;
  transition: 0.6s cubic-bezier(0.2, 0.8, 0.3, 1.4);
  transition-delay: 0.6s;
}
.l-header__foot li figure:after {
  content: "";
  position: absolute;
  left: 7rem;
  bottom: -2rem;
  width: 28rem;
  height: 6rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  filter: blur(1rem);
}
@media screen and (max-width: 767px) {
  .l-header__foot li figure:after {
    left: 4rem;
    bottom: 0;
    width: 10rem;
    height: 2rem;
    filter: blur(0.4rem);
  }
}
.l-header__foot li figure img {
  position: relative;
  z-index: 1;
}
.l-header__foot li p {
  position: relative;
  z-index: 1;
  opacity: 0;
  scale: 0.2;
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.3, 1.4);
  transition-delay: 1s;
}

/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	l-nav
----------------------------------------*/
.l-nav {
  display: none;
}
@media screen and (max-width: 767px) {
  .l-nav {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.6rem;
    z-index: 1;
  }
}

/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
	@use
----------------------------------------*/
/*----------------------------------------
	u-animation-up
----------------------------------------*/
.u-animation-up {
  opacity: 0;
  translate: 0 4%;
  transition: 1s;
}
.u-animation-up.is-active {
  opacity: 1;
  translate: 0 0;
}

/*----------------------------------------
	u-animation-scale
----------------------------------------*/
.u-animation-scale {
  opacity: 0;
  transform: translateY(4em) scale(0.8);
  transition: 0.6s cubic-bezier(0.2, 0.8, 0.3, 1.4);
}
.u-animation-scale.is-active {
  opacity: 1;
  rotate: 0deg;
  transform: translateY(0) scale(1);
}

/*----------------------------------------
	@use
----------------------------------------*/
/*----------------------------------------
	u-device-sp
----------------------------------------*/
.u-device-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .u-device-sp {
    display: block;
  }
}

/*----------------------------------------
	u-device-tablet
----------------------------------------*/
.u-device-tablet {
  display: none;
}
@media screen and (max-width: 1024px) {
  .u-device-tablet {
    display: block;
  }
}

/*----------------------------------------
	u-device-pc
----------------------------------------*/
@media screen and (max-width: 767px) {
  .u-device-pc {
    display: none;
  }
}

/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
  @use
----------------------------------------*/
/*----------------------------------------
	c-panel
----------------------------------------*/
.c-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin: 0 -2rem;
}
@media screen and (max-width: 767px) {
  .c-panel {
    gap: 2rem;
    margin: 0;
  }
}
.c-panel__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  width: calc(33.3333% - 4rem);
  padding: 2.4rem;
  background: #fedf8f;
  border-radius: 1.6rem;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .c-panel__item {
    width: calc(50% - 1rem);
    padding: 1.6rem;
  }
}
.c-panel__item.-full {
  width: calc(70% - 4rem);
}
@media screen and (max-width: 767px) {
  .c-panel__item.-full {
    width: 100%;
  }
}
.c-panel__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 1.6rem;
}
.c-panel__heading {
  text-align: center;
}
.c-panel__heading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 16.5rem;
  height: 16.5rem;
  background: #fff;
  border-radius: 50%;
  translate: -50% -50%;
}
@media screen and (max-width: 767px) {
  .c-panel__heading:before {
    width: 12rem;
    height: 12rem;
  }
}
.c-panel__heading span {
  position: relative;
  font-size: 2.8rem;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .c-panel__heading span {
    font-size: 1.8rem;
  }
}
.c-panel__img {
  position: relative;
}
.c-panel__user {
  display: flex;
  gap: 1.6rem;
}
.c-panel__user li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.c-panel__user li figure {
  width: 16rem;
}
@media screen and (max-width: 767px) {
  .c-panel__user li figure {
    width: 10rem;
  }
}
.c-panel__user li h3, .c-panel__user li h4 {
  font-size: 1.8rem;
  text-align: center;
}
.c-panel__user li h3 span, .c-panel__user li h4 span {
  display: block;
  font-size: 1rem;
  line-height: 1.4;
}
.c-panel__user li p {
  width: 14rem;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .c-panel__user li p {
    width: 10rem;
  }
}
.c-panel__user li p a {
  display: block;
}
.c-panel__user li p a.website {
  height: 51rem;
  color: #fff;
}

/*----------------------------------------
	p-character
----------------------------------------*/
.p-character {
  padding: 16rem 0 0;
}
@media screen and (max-width: 767px) {
  .p-character {
    padding: 4rem 2.4rem 0;
  }
}
.p-character__container {
  max-width: 100rem;
  margin: auto;
}
.p-character__head {
  margin: 0 0 4rem;
}
@media screen and (max-width: 767px) {
  .p-character__head {
    margin: 0;
  }
}
.p-character__main {
  display: grid;
  gap: 8rem;
}
@media screen and (max-width: 767px) {
  .p-character__main {
    display: block;
  }
}
.p-character__item {
  display: flex;
  align-items: center;
  gap: 5.6rem;
}
@media screen and (max-width: 767px) {
  .p-character__item {
    flex-direction: column-reverse;
    gap: 2.4rem;
    padding: 4rem 0;
    border-bottom: 1px solid #004098;
  }
}
.p-character__item:nth-child(odd) .p-character__content {
  grid-template-columns: 23rem max-content;
}
@media screen and (max-width: 767px) {
  .p-character__item:nth-child(odd) .p-character__content {
    grid-template-columns: 12rem 1fr;
  }
}
.p-character__item:nth-child(odd) .p-character__title {
  grid-column: 2/3;
  width: 32.9rem;
}
@media screen and (max-width: 767px) {
  .p-character__item:nth-child(odd) .p-character__title {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 60%;
    margin: auto;
  }
}
.p-character__item:nth-child(odd) .p-character__name {
  grid-column: 2/3;
  grid-row: 2/3;
}
.p-character__item:nth-child(odd) .p-character__user {
  grid-column: 1/2;
  grid-row: 1/3;
}
@media screen and (max-width: 767px) {
  .p-character__item:nth-child(odd) .p-character__user {
    grid-row: 2/3;
  }
}
.p-character__item:nth-child(odd) .p-character__img {
  width: 50rem;
  margin: 0 0 0 -14rem;
  animation: floating 2s -1s ease-in-out infinite alternate-reverse;
}
@media screen and (max-width: 767px) {
  .p-character__item:nth-child(odd) .p-character__img {
    width: 86%;
    margin: 0;
  }
}
.p-character__item:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .p-character__item:nth-child(even) {
    flex-direction: column-reverse;
  }
}
.p-character__item:nth-child(even) .p-character__content {
  grid-template-columns: max-content 23rem;
}
@media screen and (max-width: 767px) {
  .p-character__item:nth-child(even) .p-character__content {
    grid-template-columns: 12rem 1fr;
  }
}
.p-character__item:nth-child(even) .p-character__title {
  grid-column: 1/2;
  width: 25.2rem;
}
@media screen and (max-width: 767px) {
  .p-character__item:nth-child(even) .p-character__title {
    grid-column: 1/3;
    width: 46%;
    margin: auto;
  }
}
.p-character__item:nth-child(even) .p-character__name {
  grid-column: 1/2;
}
@media screen and (max-width: 767px) {
  .p-character__item:nth-child(even) .p-character__name {
    grid-column: 2/3;
  }
}
.p-character__item:nth-child(even) .p-character__user {
  grid-column: 2/3;
}
@media screen and (max-width: 767px) {
  .p-character__item:nth-child(even) .p-character__user {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.p-character__item:nth-child(even) .p-character__img {
  width: 38rem;
  animation: floating 2s ease-in-out infinite alternate-reverse;
}
@media screen and (max-width: 767px) {
  .p-character__item:nth-child(even) .p-character__img {
    width: 70%;
  }
}
.p-character__item:last-child {
  border-bottom: none;
}
.p-character__content {
  display: grid;
  flex: 1;
  gap: 2.4rem;
}
@media screen and (max-width: 767px) {
  .p-character__content {
    gap: 2.4rem 1.6rem;
    width: 100%;
  }
}
.p-character__title {
  grid-row: 1/2;
}
.p-character__name {
  grid-row: 2/3;
}
@media screen and (max-width: 767px) {
  .p-character__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.p-character__name h4 {
  font-size: 5.3rem;
  font-weight: bold;
  line-height: 1.4;
  margin: 0 0 0.8rem;
}
@media screen and (max-width: 767px) {
  .p-character__name h4 {
    font-size: 2.8rem;
    margin: 0 0 0.4rem;
  }
}
.p-character__name h4 span {
  display: block;
  font-size: 1.7rem;
}
@media screen and (max-width: 767px) {
  .p-character__name h4 span {
    font-size: 1.2rem;
  }
}
.p-character__name p {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .p-character__name p {
    font-size: 1.2rem;
  }
}
.p-character__user {
  grid-row: 1/3;
}
.p-character__profile {
  display: grid;
  grid-column: 1/3;
  grid-row: 3/4;
  gap: 0.8rem;
}
.p-character__profile li {
  display: flex;
  gap: 0.8rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 767px) {
  .p-character__profile li {
    font-size: 1.4rem;
  }
}
.p-character__profile li:before {
  content: "●";
}
.p-character__button {
  display: flex;
  grid-column: 1/3;
  grid-row: 4/5;
  gap: 1.6rem;
}
@media screen and (max-width: 767px) {
  .p-character__button {
    justify-content: center;
    gap: 0.8rem;
  }
}
.p-character__button li {
  width: 18rem;
}
@media screen and (max-width: 767px) {
  .p-character__button li {
    width: 12rem;
  }
}
.p-character__button li a {
  display: block;
}

/*----------------------------------------
	p-goods
----------------------------------------*/
.p-goods {
  padding: 16rem 0 0;
}
@media screen and (max-width: 767px) {
  .p-goods {
    padding: 4rem 2.4rem 0;
  }
}
.p-goods__container {
  max-width: 100rem;
  margin: auto;
}
.p-goods__head {
  margin: 0 0 4rem;
}
@media screen and (max-width: 767px) {
  .p-goods__head {
    margin: 0 0 2.4rem;
  }
}
.p-goods__main {
  margin: 0 0 8rem;
}
@media screen and (max-width: 767px) {
  .p-goods__main {
    margin: 0 0 2.4rem;
  }
}

/*----------------------------------------
	p-movie
----------------------------------------*/
.p-movie {
  padding: 16rem 0 0;
}
@media screen and (max-width: 767px) {
  .p-movie {
    padding: 8rem 2.4rem 0;
  }
}
.p-movie__container {
  max-width: 100rem;
  margin: auto;
}
.p-movie__head {
  margin: 0 0 8rem;
}
@media screen and (max-width: 1024px) {
  .p-movie__head {
    margin: 0 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .p-movie__head {
    margin: 0 0 2.4rem;
  }
}
.p-movie__main {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 0 8rem;
}
@media screen and (max-width: 1024px) {
  .p-movie__main {
    margin: 0 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .p-movie__main {
    margin: 0 0 2.4rem;
  }
}
.p-movie__main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*----------------------------------------
	p-web
----------------------------------------*/
.p-web {
  padding: 16rem 0 0;
}
@media screen and (max-width: 767px) {
  .p-web {
    padding: 8rem 2.4rem;
  }
}
.p-web__container {
  max-width: 100rem;
  margin: auto;
}
.p-web__head {
  margin: 0 0 4rem;
}
@media screen and (max-width: 767px) {
  .p-web__head {
    margin: 0 0 2.4rem;
  }
}

/*----------------------------------------
	p-sponsor
----------------------------------------*/
.p-sponsor {
  position: fixed;
  top: 0;
  left: 0;
  width: 34rem;
  height: 100vh;
  overflow-y: scroll;
  z-index: 1;
  translate: -100% 0;
  transition: 0.4s ease-in-out;
  transition-delay: 0.4s;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media screen and (max-width: 767px) {
  .p-sponsor {
    position: static;
    width: 100%;
    height: auto;
    translate: 0 0;
  }
}
.p-sponsor::-webkit-scrollbar {
  display: none;
}
.p-sponsor.is-active {
  translate: 0 0;
  transition-delay: 0s;
}
.p-sponsor.is-active .p-sponsor__main ul li {
  translate: 0 0;
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(1) {
  transition-delay: 0.4s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(1) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(2) {
  transition-delay: 0.5s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(2) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(3) {
  transition-delay: 0.6s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(3) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(4) {
  transition-delay: 0.7s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(4) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(5) {
  transition-delay: 0.8s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(5) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(6) {
  transition-delay: 0.9s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(6) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(7) {
  transition-delay: 1s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(7) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(8) {
  transition-delay: 1.1s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(8) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(9) {
  transition-delay: 1.2s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(9) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(10) {
  transition-delay: 1.3s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(10) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(11) {
  transition-delay: 1.4s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(11) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(12) {
  transition-delay: 1.5s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(12) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(13) {
  transition-delay: 1.6s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(13) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(14) {
  transition-delay: 1.7s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(14) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(15) {
  transition-delay: 1.8s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(15) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(16) {
  transition-delay: 1.9s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(16) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(17) {
  transition-delay: 2s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(17) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(18) {
  transition-delay: 2.1s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(18) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(19) {
  transition-delay: 2.2s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(19) {
    transition-delay: 0s;
  }
}
.p-sponsor.is-active .p-sponsor__main ul li:nth-child(20) {
  transition-delay: 2.3s;
}
@media screen and (max-width: 767px) {
  .p-sponsor.is-active .p-sponsor__main ul li:nth-child(20) {
    transition-delay: 0s;
  }
}
.p-sponsor__container {
  background: #e50053;
  padding: 0 0 28.8rem;
}
@media screen and (max-width: 767px) {
  .p-sponsor__container {
    padding: 4rem;
  }
}
.p-sponsor__head {
  text-align: center;
  padding: 4rem 2.4rem;
}
@media screen and (max-width: 767px) {
  .p-sponsor__head {
    padding: 0 0 4rem;
  }
}
.p-sponsor__main {
  padding: 0 2.4rem 4rem 0;
}
@media screen and (max-width: 767px) {
  .p-sponsor__main {
    padding: 0;
  }
}
.p-sponsor__main ul {
  display: grid;
  gap: 2.4rem;
}
.p-sponsor__main ul li {
  translate: -100% 0;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .p-sponsor__main ul li {
    opacity: 1;
    translate: 0 0;
  }
}
.p-sponsor__main ul li a {
  display: block;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.6;
  background: #fadce9;
  padding: 2.4rem;
  border-radius: 0 10rem 10rem 0;
}
@media screen and (max-width: 767px) {
  .p-sponsor__main ul li a {
    font-size: 2.4rem;
    text-align: center;
    border-radius: 10rem;
  }
}
.p-sponsor__main ul li a.no-link {
  pointer-events: none;
}
.p-sponsor__main ul li a span {
  display: block;
  font-size: 1.6rem;
}

/*----------------------------------------
	p-banner
----------------------------------------*/
.p-banner {
  padding: 16rem 0 8rem;
}
@media screen and (max-width: 767px) {
  .p-banner {
    padding: 0 0 4rem;
  }
}
.p-banner__container {
  max-width: 100rem;
  margin: auto;
}
.p-banner__head {
  margin: 0 0 4rem;
  opacity: 0;
}
.p-banner__foot {
  max-width: 58rem;
  margin: auto;
}
.p-banner__foot a {
  display: block;
}

/*----------------------------------------
	p-ill
----------------------------------------*/
.p-ill > div:nth-child(1) span:nth-child(1) {
  top: calc(300 / 1920 * 100vw);
  left: calc(600 / 1920 * 100vw);
  width: calc(680 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(1) span:nth-child(1) {
    top: 104rem;
    left: 2rem;
    width: 20rem;
  }
}
.p-ill > div:nth-child(1) span:nth-child(2) {
  top: calc(400 / 1920 * 100vw);
  left: calc(1300 / 1920 * 100vw);
  width: calc(680 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(1) span:nth-child(2) {
    top: 28rem;
    left: 30rem;
    width: 20rem;
  }
}
.p-ill > div:nth-child(1) span:nth-child(3) {
  top: calc(140 / 1920 * 100vw);
  left: calc(1300 / 1920 * 100vw);
  width: calc(600 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(1) span:nth-child(3) {
    top: 10rem;
    left: 0rem;
    width: 20rem;
  }
}
.p-ill > div:nth-child(1) span:nth-child(4) {
  top: calc(180 / 1920 * 100vw);
  left: calc(600 / 1920 * 100vw);
  width: calc(340 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(1) span:nth-child(4) {
    top: 130rem;
    left: 24rem;
    width: 20rem;
  }
}
.p-ill > div:nth-child(1) span:nth-child(5) {
  top: calc(160 / 1920 * 100vw);
  left: calc(1100 / 1920 * 100vw);
  width: calc(280 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(1) span:nth-child(5) {
    top: 20rem;
    left: 30rem;
    width: 10rem;
  }
}
.p-ill > div:nth-child(1) span:nth-child(6) {
  top: calc(620 / 1920 * 100vw);
  left: calc(1200 / 1920 * 100vw);
  width: calc(280 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(1) span:nth-child(6) {
    top: 30rem;
    left: 40rem;
    width: 10rem;
  }
}
.p-ill > div:nth-child(1) span:nth-child(7) {
  top: calc(780 / 1920 * 100vw);
  left: calc(1600 / 1920 * 100vw);
  width: calc(280 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(1) span:nth-child(7) {
    top: 110rem;
    left: 1rem;
    width: 10rem;
  }
}
.p-ill > div:nth-child(2) span:nth-child(1) {
  top: calc(1600 / 1920 * 100vw);
  left: calc(-140 / 1920 * 100vw);
  width: calc(680 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(2) span:nth-child(1) {
    top: 62rem;
    left: 28rem;
    width: 20rem;
  }
}
.p-ill > div:nth-child(2) span:nth-child(2) {
  top: calc(2100 / 1920 * 100vw);
  left: calc(100 / 1920 * 100vw);
  width: calc(580 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(2) span:nth-child(2) {
    top: 56rem;
    left: 32rem;
    width: 16rem;
  }
}
.p-ill > div:nth-child(2) span:nth-child(3) {
  top: calc(1800 / 1920 * 100vw);
  left: calc(100 / 1920 * 100vw);
  width: calc(280 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(2) span:nth-child(3) {
    top: 66rem;
    left: 32rem;
    width: 8rem;
  }
}
.p-ill > div:nth-child(3) span:nth-child(1) {
  top: calc(2400 / 1920 * 100vw);
  left: calc(1300 / 1920 * 100vw);
  width: calc(680 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(3) span:nth-child(1) {
    top: 160rem;
    left: 30rem;
    width: 20rem;
  }
}
.p-ill > div:nth-child(3) span:nth-child(2) {
  top: calc(2300 / 1920 * 100vw);
  left: calc(1300 / 1920 * 100vw);
  width: calc(580 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(3) span:nth-child(2) {
    top: 156rem;
    left: 40;
    width: 20rem;
  }
}
.p-ill > div:nth-child(3) span:nth-child(3) {
  top: calc(2000 / 1920 * 100vw);
  left: calc(1600 / 1920 * 100vw);
  width: calc(280 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(3) span:nth-child(3) {
    top: 180rem;
    left: -4rem;
    width: 16rem;
  }
}
.p-ill > div:nth-child(4) span:nth-child(1) {
  top: calc(3400 / 1920 * 100vw);
  left: calc(-100 / 1920 * 100vw);
  width: calc(680 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(4) span:nth-child(1) {
    top: 460rem;
    left: -10rem;
    width: 20rem;
  }
}
.p-ill > div:nth-child(4) span:nth-child(2) {
  top: calc(3820 / 1920 * 100vw);
  left: calc(-100 / 1920 * 100vw);
  width: calc(580 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(4) span:nth-child(2) {
    top: 460rem;
    left: 2rem;
    width: 16rem;
  }
}
.p-ill > div:nth-child(4) span:nth-child(3) {
  top: calc(4100 / 1920 * 100vw);
  left: calc(100 / 1920 * 100vw);
  width: calc(280 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(4) span:nth-child(3) {
    top: 470rem;
    left: 32rem;
    width: 16rem;
  }
}
.p-ill > div:nth-child(5) span:nth-child(1) {
  top: calc(4600 / 1920 * 100vw);
  left: calc(1200 / 1920 * 100vw);
  width: calc(680 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(5) span:nth-child(1) {
    top: 540rem;
    left: -10rem;
    width: 20rem;
  }
}
.p-ill > div:nth-child(5) span:nth-child(2) {
  top: calc(5100 / 1920 * 100vw);
  left: calc(1300 / 1920 * 100vw);
  width: calc(580 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(5) span:nth-child(2) {
    top: 536rem;
    left: 2rem;
    width: 16rem;
  }
}
.p-ill > div:nth-child(5) span:nth-child(3) {
  top: calc(4700 / 1920 * 100vw);
  left: calc(1400 / 1920 * 100vw);
  width: calc(280 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(5) span:nth-child(3) {
    top: 552rem;
    left: 38rem;
    width: 10rem;
  }
}
.p-ill > div:nth-child(5) span:nth-child(4) {
  top: calc(5100 / 1920 * 100vw);
  left: calc(1700 / 1920 * 100vw);
  width: calc(280 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(5) span:nth-child(4) {
    top: 544rem;
    left: 31rem;
    width: 10rem;
  }
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(6) {
    display: none;
  }
}
.p-ill > div:nth-child(6) span:nth-child(1) {
  top: calc(8400 / 1920 * 100vw);
  left: calc(20 / 1920 * 100vw);
  width: calc(680 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(6) span:nth-child(1) {
    top: 644rem;
    left: -2rem;
    width: 10rem;
  }
}
.p-ill > div:nth-child(6) span:nth-child(2) {
  top: calc(7900 / 1920 * 100vw);
  left: calc(100 / 1920 * 100vw);
  width: calc(580 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(6) span:nth-child(2) {
    top: 634rem;
    left: -2rem;
    width: 20rem;
  }
}
.p-ill > div:nth-child(6) span:nth-child(3) {
  top: calc(7700 / 1920 * 100vw);
  left: calc(80 / 1920 * 100vw);
  width: calc(280 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(6) span:nth-child(3) {
    top: 641rem;
    left: 3rem;
    width: 6rem;
  }
}
.p-ill > div:nth-child(6) span:nth-child(4) {
  top: calc(8100 / 1920 * 100vw);
  left: calc(20 / 1920 * 100vw);
  width: calc(280 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(6) span:nth-child(4) {
    top: 646rem;
    left: 7rem;
    width: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(7) {
    display: none;
  }
}
.p-ill > div:nth-child(7) span:nth-child(1) {
  top: calc(6900 / 1920 * 100vw);
  left: calc(1300 / 1920 * 100vw);
  width: calc(680 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(7) span:nth-child(1) {
    top: 654rem;
    left: 30rem;
    width: 20rem;
  }
}
.p-ill > div:nth-child(7) span:nth-child(2) {
  top: calc(7300 / 1920 * 100vw);
  left: calc(1500 / 1920 * 100vw);
  width: calc(580 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(7) span:nth-child(2) {
    top: 650rem;
    left: 28rem;
    width: 10rem;
  }
}
.p-ill > div:nth-child(7) span:nth-child(3) {
  top: calc(7000 / 1920 * 100vw);
  left: calc(1500 / 1920 * 100vw);
  width: calc(280 / 1920 * 100vw);
}
@media screen and (max-width: 767px) {
  .p-ill > div:nth-child(7) span:nth-child(3) {
    top: 658rem;
    left: 39rem;
    width: 6rem;
  }
}
.p-ill > div span {
  position: absolute;
  display: block;
  z-index: -1;
}