@charset "utf-8";

/*----------------------------------------
  @use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	l-nav
----------------------------------------*/
.l-nav {
  display: none;
  @include mq(sp) {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.6rem;
  }
}